# See http://help.github.com/ignore-files/ for more about ignoring files.

# Compiled output
/dist
/tmp
/out-tsc

# Custom
composer.lock
/application/config/production
/application/tests
/application/vendor

# Exceptions
!/application/tests/controllers
!/application/tests/models

# System Files
.DS_Store
Thumbs.db
