# See http://help.github.com/ignore-files/ for more about ignoring files.

# Compiled output
/dist
/tmp
/out-tsc

# Custom
composer.lock
/application/tests/*
/application/tests/controllers/Welcome_test.php
/application/tests/models/.gitkeep
/application/vendor

# Exceptions
!/application/tests/.phpunit.xml
!/application/tests/controllers
!/application/tests/models

# System Files
.DS_Store
Thumbs.db
