parameters:
    bootstrap: %rootDir%/../../../../phpstan-bootstrap.php
    autoload_directories:
        - %rootDir%/../../../../system
        - %rootDir%/../../../../application/config
        - %rootDir%/../../../../application/controllers
        - %rootDir%/../../../../application/models
        - %rootDir%/../../../../application/tests
